@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background: #fff url(../src/assets/bg-image.jpg) center center/cover no-repeat;
}

.sign {
  background: rgba(26, 227, 26, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(26, 227, 26, 0.25);
}

.bg-2 {
  background: #4776e6;
  background: -webkit-linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
  background: linear-gradient(0deg, #4776e6 0%, #8e54e9 100%);
}

.map-container {
  width: 100vw;
  height: 90vh;
}
